%%% -*- mode: erlang -*-
{erl_opts, [debug_info,
            {i, "test"},
            {src_dirs, ["src"]}]}.

{eunit_opts, [verbose, {report, {eunit_surefire, [{dir, "."}]}}]}.

{cover_enabled, true}.

{deps, [
    {gun, ".*", {git, "https://github.com/extend/gun.git", "b85c1f726ca49ac0e3abdcf717317cb95b06207d"}}
]}.
